<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

    <title>VUEjs V2 V-SHOW | Rimorsoft Online</title>

</head>
<body>
    
    <div id="main" class="container">
        
        
            <div class="row">
                <div class="col-md-12">
                    <h3>Suscribete a nuestro boletín</h3>
                </div>
                <div class="col-md-5">
                    <label for="">TRM:</label>
                    <input type="number" v-model="trm" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="">ARANCEL:</label>
                   <input type="number" v-model="arancel" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="">IVA:</label>
                    <input type="number" v-model="iva" v-on:keyup="calcular" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="">VALOR TOTAL:</label>
                    <input type="number" v-model="valor" class="form-control" disabled>
                </div>         
                <button v-on:click="calcular" v-show="trm" class="btn btn-primary">Calcular</button>
               
                <p v-bind:title="valortotal">
                    <h1>TOTAL: {{valor}} </h1>
                </p>

            </div>

            <div class="col-12">
                <pre>
                    {{ $data }}
                </pre>
            </div>
        

    </div>

    <script src="vue.js"></script>

    <script type="text/javascript">
      
        new Vue({
            el: '#main',
            data: {
                trm: '',
                arancel: '',
                iva: '',
                valor: 1.33*1.4,
                dos: ["elias", "juan" ]

            },
            methods: {
                calcular: function(){
                    this.valor=Math.round((this.arancel+this.iva)*this.trm)
                }
            }

        });
    
    </script>
    
</body>
</html>